.search-box {
  text-align: center !important;
  padding: 1rem !important;
  border-radius: 1rem 1rem 0 0 !important;
  height: 6rem !important;
}
.header {
  height: max-content !important;
  padding: 1rem !important ;
  border-radius: 1rem 1rem 0 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-content: center !important;
}
.header-right {
  display: flex;
  justify-content: space-around;
}
.avatar- {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;

  align-items: center;
  margin-top: 1rem;
}
.profile {
  text-align: center;
  align-items: center;
  width: auto;
  height: max-content;
  margin-right: 1rem;
}
.profile h4 {
  color: #909599;
}
.middle {
  height: 22rem;
  overflow-y: auto;
}
.middle::-webkit-scrollbar {
  width: 0.5rem;
}
.middle::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important;
  border-radius: 10px !important;
}
.middle::-webkit-scrollbar-thumb {
  background: #002e6e !important;
  border-radius: 0.75rem !important;
}

.footer {
  display: flex;
}
.input-box {
  width: 80% !important;
  background-color: #f6f6f6 !important;
  padding: 0.5rem !important;
  border-radius: 1rem !important;
  margin: 0.5rem !important;
}
.send-btn {
  width: 10% !important;
  align-items: center !important;
  background-color: #f1554c !important;
  color: #f6f6f6 !important;
  font-weight: bold !important;
  padding: 0.5rem !important;
}
.icon-file-btn {
  background-color: #f6f6f6 !important;
  border-radius: 1rem !important;
}
/* .comment-box {

} */
.comment-img {
  width: 0.5rem;
  border-radius: 50%;
}

.inbox {
  height: 8rem;
  position: relative;
  bottom: -0.5rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.listChat :nth-child(1) {
}
/* ///////////////////////////////// */
/* Responsive */
@media only screen and (max-width: 600px) {
  #headerPaper {
    position: relative;
    width: 19rem !important;
    left: 1.5% !important;
  }
  .divRootProfile {
    position: relative;
    top: 2rem !important;
  }

  .profile > h2:nth-child(1) {
    white-space: nowrap;
    font-size: 0.8rem !important;
    position: relative;
    top: 1.5rem;
  }
  .profile > h4:nth-child(2) {
    white-space: nowrap;
    font-size: 0.8rem !important;
    position: relative;
    top: 1.5rem;
  }
  #dispalyProfile {
    white-space: nowrap;
    font-size: 0.7rem !important;
    position: relative;
    top: 1.2rem;
  }
  .inbox {
    display: flex !important;
    position: relative;
    left: -1rem !important;
    justify-content: center !important;
  }
  .input-box {
    width: 50% !important;
  }
  .send-btn {
    width: 5% !important;
    padding: 0.22rem !important;
    font-size: 0.8rem !important;
  }
  .footer {
    position: relative;
    top: 0 !important;
  }
}
