.containerLogin {
  /* height: 100% !important; */
  width: 100% !important;
  background-image: linear-gradient(
    to bottom,
    #5848b8,
    rgba(119, 96, 247, 0.178)
  );
}
.imageBox,
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem 4rem;
}
.imageBox a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.imageBox img {
  max-width: 100%;
  margin: 8rem 0 0 4rem;
}

@media only screen and (max-width: 600px) {
  .img {
    display: none !important;
  }
  .containerLogin {
    align-items: center !important;
    flex-direction: column !important;
  }
  .card {
    margin: 6rem auto 0 !important;
    align-items: center !important;
    padding: 0 !important;
  }
  
}
