.sidebarBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #002e6e;
  /* min-height: 200vh; */
  height: 100%;
  padding: 0 2rem 0 0;
  margin: 0 !important;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebarBox::-webkit-scrollbar {
  display: none;
}
.logoBox {
  margin: 2rem 1rem 3rem 3.5rem;
  max-width: 12rem;
  max-height: 3rem;
}
.logoBox img {
  width: 100%;
  height: 100%;
}
.sidebarItem {
  display: flex;
  align-items: center;
  background-color: #002e6e !important;
  color: #ddacf5 !important;
}
.sidebarItem img {
  max-width: 1.2rem;
  max-height: 1.2rem;
  margin-left: 0.7rem;
}
.sidebarItem p {
  font-family: Dana;
  font-size: 0.9rem;
}
.sidebarItem a {
  background-color: #002e6e !important;
  color: #ddacf5 !important;
  text-decoration: none;
  font-family: Dana;
  font-size: 0.9rem;
}
.sidebarItem svg {
  color: #ddacf5 !important;
}
/* .sidebarItem a,
.sidebarItem p {
  color: #637892;
  font-size: 0.9rem;
  margin-right: 1rem;
} 
.sidebarItems {
  margin-right: 1rem;
}
.sidebarItems span {
  color: #637892;
  font-size: 0.83rem;
  margin-right: 0.8rem;
  cursor: pointer;
}
.sidebarItems span a {
  color: #637892;
  font-size: 0.83rem;
  cursor: pointer;
} */

/* ////////////////////////////////////// */
/* Responsive */

@media only screen and (max-width: 600px) {
  .sidebarBox {
    position: relative;
  }
}
