.form-pricing {
  width: 100%;
}
.actions-btn {
  padding: 1.75rem 1.5rem !important;
  margin-right: 0.5rem !important;
  flex: 1 !important;
  width: min-content !important;
  white-space: nowrap !important;
  font-size: medium !important;
  height: 3rem !important;
  font-size: large !important;
}

.form-control {
  margin-top: 2rem !important;
  width: 100%;
}
.payment-report {
  margin: 2rem !important;
}
.payment-btn {
  background-color: #ffcb05 !important   ;
  font-weight: bold !important;
}
.back-btn {
  font-weight: bold !important;
  margin-left: 2rem !important;
}
.payment-btn-icon svg {
  color: black !important;
}
.box-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 3rem;
}
.payment-report {
  width: 100% !important;
}
.balance {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c4cad0;
  margin-top: 1rem;
  padding: 1rem;
}
.modalPay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paperPay {
  background-color: #fafafa;
  padding: 2rem;
  width: 40%;
}
.spanDiscountCode {
  position: relative;
  color: #192129 !important;
  top: 2.5rem;
  font-family: Dana-FaNum;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}
.divFormRootDiscountCode {
  width: 75%;
  position: relative;
  margin-top: 3rem;
  display: flex;
  height: 3.37rem;
  /* background-color: aqua; */
  /* flex-direction: column; */
  align-content: center !important;
  justify-content: center;
  border: 2px solid #909599;
  border-radius: 7px;
}
.divFormDs {
  position: relative;
  /* bottom: 0.65rem; */
  width: 95%;
  display: flex;
  justify-content: flex-start !important;
  align-content: center !important;
  align-items: center;
}
.divFormDs div:nth-child(1) {
  width: 50%;
  outline: none;
  border: none;
}
.divFormDs div:nth-child(1) input {
  outline: none;
  border: none;
  font-size: 0.8rem;
  background-color: #fafafa !important;
}
.divFormDs div:nth-child(1) input::placeholder {
  font-weight: bold;
  font-family: Dana !important;
  font-style: normal !important;
  font-size: 0.8rem;
}
.divFormDs div:nth-child(2) {
  text-align: end;
  width: 50%;
}
.btnsubmitCodeDs {
  cursor: pointer;
  background-color: #cfcfd1;
  position: relative;
  top: 3rem !important;
  font-family: Dana;
  font-style: normal;
  font-weight: bold;
  height: 3.37rem;
  width: 116px;
  left: -0.5rem;
  top: 0px;
  border-radius: 7px;
  outline: none;
  border: navajowhite;
  /* color: #ffffff; */
  color: #909599;
}
.reportPay {
  display: flex;
  flex-direction: column;
  border: 2px solid #909599;
  position: relative;
  top: 1.5rem;
  border-radius: 7px;
}
.reportPay div {
  /* margin-right: 4%; */
}
.reportPay div:nth-child(1) {
  text-align: right;
  margin-right: 5%;
  width: 90%;
}
.reportPay div:nth-child(2) div {
  width: 45%;
}
.reportPay div:nth-child(3) div {
  width: 45%;
}
.reportPay div:nth-child(4) div {
  width: 45%;
}
.reportPay div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  font-family: Dana;
  font-style: normal;
  font-weight: bold;
}
.reportPay div:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  font-family: Dana;
  font-style: normal;
  font-weight: bold;
}
.reportPay div:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  font-family: Dana;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
}
.reportPay div:nth-child(2) div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.reportPay div:nth-child(3) div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.reportPay div:nth-child(4) div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.reportPay div:nth-child(2) div:nth-child(3) {
  width: 90% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}
.reportPay div:nth-child(3) div:nth-child(3) {
  width: 90% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}
