h1,
h2,
h3,
h4 {
  height: 1rem;
}

.profPic {
  width: 7rem;
  height: 7rem;
  border-radius: 15px;
}
.userProfile {
  border: 1px solid black;
  width: 100%;
  height: max-content;
  border-radius: 15px;
  background-color: #002e6e;
  padding: 50px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.userProfPic {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.userProfileContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.userProfileFollower {
  font-size: 12px !important;
}

@media only screen and (max-width: 600px) {
  .cardBox {
    flex-direction: column !important;
  }
}
