.WorkSamplesCard {
  border-radius: 1rem !important;
  margin: 2rem;
}
.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  color: #909599;
}
.WorkSamplesCard:hover {
  box-shadow: 0px 3px 13px rgba(0, 46, 110, 0.5);
  cursor: pointer;
}
.paper {
  background-color: #fff;
  padding: 2rem;
  width: 70%;
  border-radius: 1rem !important;
}
.paper h3 {
  font-size: 0.9rem !important;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxSvg {
  color: #909599;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.boxSvg span {
  padding: 0.25rem;
}
.boxSvg svg {
  padding-top: 0.25rem;
}
.imgSampel {
  width: 4rem;
  height: 4rem;
  border-radius: 20%;
  background-color: #909599;
  margin-left: 1rem;
}
.sampel {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 1rem 0;
}
.imgSampels {
  width: 6rem;
  height: 6rem;
  border-radius: 20%;
  background-color: #909599;
  margin-left: 1rem;
}
.close {
  direction: ltr !important;
  align-items: center !important;
  padding-top: 1rem !important;
}
/* Responsive */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 0.9rem !important;
  }
  .content {
    font-size: 0.9rem !important;
  }
  .textSize {
    font-size: 0.8rem !important;
  }
  .imgSampels {
    width: 6rem;
    height: 6rem;
    margin-left: 1rem;
    margin: 0.5rem !important;
  }
  .DivImgSamples {
    display: block !important;
  }
  .close {
    padding-top: 0.25rem !important;
  }

  .paper {
    background-color: #fff;
    padding: 2rem;
    width: 85% !important;
    border-radius: 1rem !important;
    overflow-y: scroll;
    position: relative;
    height: 100%;
  }
}
