.authLayout-container {
  display: flex;
  justify-content: flex-end !important;
  align-items: center !important;
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
.loginBox {
  width: 100%;
  max-width: 30rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  margin: 4rem;
  min-height: 43rem;
  border-radius: 20px !important;
}

@media screen and (max-width: 960px) {
  .containerLogin {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    padding: 0;
  }
  .loginBox {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 20px !important;
    margin: 4rem 0 0 -1.2rem;
  }
  .imageBox {
    display: none;
  }
}
