.forgetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.input_style:focus {
  background: #ffffff;
  box-shadow: 0px 3px 17px rgba(94, 182, 112, 0.35);
  outline: none;
}
.form-forgotPassword {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex: 1;
  padding-right: 1rem;
  display: flex;
  font-family: inherit;
}
.form-forgotPassword label {
  height: 1.57rem;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #192129;
  width: 80%;
  justify-self: flex-start;
  margin: 0 auto;
}
.link-signIn p {
  color: #192129;
  font-weight: bold;
}
.link-signIn span {
  margin-right: 0.3rem;
  cursor: pointer;
  color: #5243ac;
}
