.paper {
  width: 100% !important;
  height: 85vh !important;
  border-radius: 15px !important;
  padding: 2rem !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  flex: 4;
}
.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: center !important;
}
.stepper {
  flex: 1;
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center !important;
}
.stepBtnBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  align-items: flex-end;
  margin-top: 2rem;
}

.backBtn,
.forwardBtn {
  margin: 0 0.25rem 0 0.5rem !important;
  border-radius: 7px !important;
  min-width: 6.25rem !important;
  height: 3rem !important;
  width: 8rem !important;
  font-size: 1.2rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-end !important;
}

.step {
  height: 5rem;
}

.step div {
  top: 18px !important;
}

.step div span {
  border-top-style: dotted !important;
  border-top-width: 7px !important;
  border-top-color: #5243ac !important;
  width: 80% !important;
  margin: 0 auto !important;
}

.stepLabel span:nth-child(2) span {
  font-size: 1rem !important;
}
.stepLabel svg {
  fill: #ee8e92 !important;
  height: 2.5rem;
  width: 2.5rem;
}

.Container {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Title {
  width: 90%;
  height: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #192129;
  margin-bottom: 1rem;
}
.Box {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Box label {
  font-size: 1rem;
  color: #192129 !important;
  margin-bottom: 0.7rem;
  width: 80%;
}
.Box .selectBox {
  flex: 0 0 50%;
}
.Box .selectBox:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.selectBox:nth-child(2) label {
  align-self: flex-start;
  justify-self: center;
  width: 80%;
  margin: 0 auto 0.7rem auto;
}

.categoryBox {
  align-items: center;
}

.selectCategory {
  width: 90% !important;
}
.selectCategory option {
  font-size: 1.1rem !important;
}

.projectInfo {
  justify-content: space-between;
}

.Box .inputField {
  height: 90%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Box .selectField {
  height: 90%;
  width: 48%;
}

.inputBox,
.inputBox input {
  width: 100%;
}
.inputBox label {
  margin-bottom: 0.7rem;
}
.selectedSkills {
  color: #909599;
}
.selectedBox {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  overflow-y: scroll;
  height: 15rem;
  justify-content: space-around;
  border-top: 1px solid #1921296c;
  border-bottom: 1px solid #1921296c;
  padding: 0.25rem 0;
}
.chip {
  border-radius: 7px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.chipSelected {
  background-color: #dfe2fe !important;
  border: 1px solid #5243ac !important;
  color: #5243ac !important;
  font-weight: bold !important;
  justify-content: space-between !important;
}
.chip svg {
  fill: #5243ac !important;
}
.chip:hover {
  cursor: pointer !important;
}

.selectedBox::-webkit-scrollbar {
  width: 10px;
}

.selectedBox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.479);
  border-radius: 2px;
  /* width: 5px; */
}

.selectedBox::-webkit-scrollbar-thumb {
  background: #192129a2;
  border-radius: 2px;
}

.selectedBox::-webkit-scrollbar-thumb:hover {
  background: #19212980;
}

.uploadButton {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: 15rem !important;
  border-radius: 10px !important;
}
.uploadButton span {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
.uploadButton p {
  font-weight: bold;
  margin: 0 0.75rem 0 0;
}
.imagePreviewBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4cad0;
  background-color: #f0f1f3;
  border-radius: 7px;
  height: 20rem;
}
.imagePreviewBox span {
  margin-top: 0.8rem;
  font-weight: 500;
  color: #909599;
}

.imagePreviewIcon {
  fill: #acaeaf !important;
  height: 3em !important;
  width: 5em !important;
}

.budget {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(2, 45%);
}
.budget .selectBudgetBox {
  grid-column: 1/-1;
  grid-row: 1;
}

.minInput {
  grid-column: 1/2;
  grid-row: 2;
}
.maxInput {
  grid-column: 2/3;
  grid-row: 2;
}

.paymentPlanBox {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  align-content: center;
  height: 70%;
  gap: 2rem;
}

.paymentPlanBox .planBox:nth-child(1) {
  background-color: #5243ac;
  color: #fff;
}
.paymentPlanBox .planBox:nth-child(1) div {
  color: #fff;
}

.planBox {
  background-color: #ffffff;
  height: 90%;
  width: 100%;
  border: 2px solid #c4cad0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #192129;
  transition: all 500ms;
  box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.3);
}
.planBox:hover {
  border: 2px solid #5243ac;
  transition: all 500ms;
  cursor: pointer;
}
.planBox div {
  color: #909599;
  line-height: 1.6;
  text-align: right;
  font-size: 0.9rem;
}
.planBox div,
.planBox h3 {
  width: 90%;
  margin: 0 auto;
}

.planBox h3:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.planBox h3:nth-child(3) span {
  margin-left: 0.75rem;
  font-size: 0.9rem;
  text-decoration: line-through;
  color: #acaeaf;
  font-weight: normal;
}

.paymentChips {
  width: 20% !important;
  color: #5243ac !important;
  background-color: #dfe2fe !important;
  margin-right: 0.75rem !important;
}
.paymentChips span {
  font-weight: normal !important;
  font-size: 0.8rem !important;
  padding: 0 !important;
}

.offBox {
  flex-direction: column;
}

.offInputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.offInput {
  width: 65% !important;
}
.offBtn {
  font-size: 1.1rem !important;
  width: 32% !important;
  height: 3.5rem !important;
  border-radius: 7px !important;
}
.offBtn span {
  font-size: 1rem !important;
}

.reportPayment {
  border: 1px solid #c4cad0;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.reportPayment div {
  border-bottom: 1px solid #c4cad0;
}
.reportPayment h3 {
  font-weight: bold;
}
.reportPayment div,
.reportPayment h3 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.reportPayment div span:nth-child(1) {
  color: #c4cad0;
}
/* ///////////////////////////////// */
/* Responsive */
@media only screen and (max-width: 600px) {
  #stepper {
    display: flex;
    flex-wrap: wrap;
    width: 0rem;
  }
  .paper {
    position: relative;
    margin-top: 0rem;
  }
  #stepper > div:nth-child(1) > span:nth-child(1) > span > :nth-child(1) {
    /* font-size: 0.5rem !important; */
  }
  #StepLabel {
    white-space: nowrap;
  }
  .Container {
    position: relative;
    margin-top: 2rem;
  }
  .categoryBox {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
    position: relative;
    margin-top: 1.5rem;
  }
  .selectCategory {
    width: 18rem !important;
    /* font-size: 0.7rem !important; */
  }
  .backBtn,
  .forwardBtn {
    height: 2.5rem !important;
    width: 5rem !important;
    font-size: 0.8rem !important;
    margin-bottom: 2rem !important;
    position: relative;
  }
}
