.form-pricing {
  width: 100%;
}
.urlPage {
  background-color: #f6f6f6 !important;
  color: #909599 !important;
  padding: 1rem 2rem;
}
.actions-btn {
  padding: 1.75rem 1.5rem !important;
  margin-right: 0.5rem !important;
  flex: 1 !important;
  height: 3rem !important;
  white-space: nowrap !important;
  font-size: medium !important;
  width: min-content !important;
}
.form-control {
  margin-top: 2rem !important;
  width: 100%;
}
.payment-report {
  margin: 2rem !important;
}
.payment-btn {
  background-color: #ffcb05 !important   ;
  font-weight: bold !important;
}
.back-btn {
  font-weight: bold !important;
  margin-left: 2rem !important;
}

.payment-btn-icon svg {
  color: black !important;
}
.box-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 3rem;
}
.payment-report {
  width: 100% !important;
}
.balance {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c4cad0;
  margin-top: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 780px) {
  .urlPage {
    margin-top: 3.5rem !important;
  }
}
