.footerBox {
  background-color: #044299 !important;
  display: flex !important;
  justify-content: space-around;
  height: auto !important;
  padding: 2rem;
  font-family: Dana;
  flex: 1;
}
.col {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  justify-content: space-around;
  margin: 1rem;
  color: #ffffff;
}
.col1 {
  flex: 2;
}
.col2 {
  flex: 1;
  font-size: 1.1rem;
}
.col3 {
  flex: 1;
}
.col4 {
  flex: 1;
  text-align: center;
}
.col2 a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 2rem;
}
.logoBox {
  max-width: 11rem;
  max-height: 2.5rem;
  flex: 0 0 10%;
  margin-left: 2rem;
}
.logoBox img {
  width: 100%;
  height: 100%;
}
.colItem {
  display: flex;
  padding: 0.5rem 0;
}
.colItem span {
  padding-right: 0.5rem;
}
.logos {
  display: flex;
  justify-content: space-around;
}

.footerDown {
  background-color: #002e6e;
  text-align: center;
  color: #ffffff;
  padding: 1rem 1rem 1rem;
  font-family: Dana;
  font-size: 1rem;
}

@media screen and (max-width: 780px) {
  .footerBox {
    flex-direction: column;
    align-items: center;
  }
  .col {
    align-items: center;
  }
  .para {
    text-align: justify !important;
    text-align-last: center !important;
  }
}
